@import '../Root.css';

.main-select-box {
    width: 100%;
    padding-bottom: 1rem;
}

.main-select-box__title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 2%;
    color: var(--azul_forte);
}

.main-select-box__selecao {
    width: 75%;
    height: 2rem;
    border-color: var(--azul_forte);
    border-width: 2px;
    border-radius: 5px;
    color: var(--azul_forte);
}

.main-select-box__selecao option {
    color: var(--azul_forte);
}