@import './Root.css';

.carousel_main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 4rem;
    background-color: var(--gelo);
    margin-bottom: 4rem;
}

.carousel_moviment {
    width: 1150px;
}

.carousel_img {
    min-width: 1150px;
    max-width: 1150px;
    min-height: 300px;
    max-height: 300px;
}

.carousel-control-next {
    width: 30px;
}

.carousel-control-prev {
    width: 30px;
}

.carousel-control-next-icon {
    position: absolute;
    right: 0%;
}

.carousel-control-prev-icon {
    position: absolute;
    left: 0%;
}

.carousel-indicators {
    width: 0;
    height: 0;
}