@import './Root.css';

.carousel_main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 4rem;
    background-color: var(--gelo);
}

.carousel_moviment {
    width: 1150px;
}

.carousel_img {
    min-width: 1150px;
    max-width: 1150px;
    min-height: 300px;
    max-height: 300px;
}
