@import './Root.css';

.cac_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.main_cac {
    border: 1px solid;
    border-color: var(--gelo);
    border-radius: 10px;
    width: 50%;
    background: var(--gelo);
}

.link_cac {
    text-decoration: none;
    margin: 5px;
    font-size: .8rem;
    color: var(--azul_forte);
}

.text_cac {
    width: 100%;
    color: var(--azul_forte);
}

.text_cac > a {
    text-decoration: none;
    padding: 2%;
    font-size: .8rem;
    color: var(--azul_forte);
}

.text_cac > h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 2%;
    text-transform: uppercase;
}

.text_cac > h6 > a{
    font-weight: 600;
    padding: 2%;
    text-decoration: none;
    color: var(--azul_forte);
}

.text_cac > ul {
    list-style: none;
    padding: 2%;
}

.text_cac ul > li > a {
    color: var(--azul_forte);
    text-decoration: none;
}

.link_cac:hover {
    color: var(--preto);
}

.text_cac > a:hover {
    color: var(--preto);
}

.text_cac > h6 > a:hover {
    color: var(--preto);
    text-decoration: underline;
}

.text_cac > ul > li > a:hover {
    color: var(--preto);
    text-decoration: underline;
}
