@import './Root.css';

.cert_baixa_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    margin-top: 4rem;
}

.main_cert_baixa {
    border: 1px solid;
    border-color: var(--gelo);
    border-radius: 10px;
    width: 50%;
    background: var(--gelo);
}

.link_cert_baixa {
    text-decoration: none;
    margin: 5px;
    font-size: .8rem;
    color: var(--azul_forte);
}

.text_cert_baixa {
    width: 100%;
    color: var(--azul_forte);
}

.text_cert_baixa > a {
    text-decoration: none;
    padding: 2%;
    font-size: .8rem;
    color: var(--azul_forte);
}

.text_cert_baixa > h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 2%;
    text-transform: uppercase;
}

.text_cert_baixa > h6{
    font-weight: 600;
    padding: 2%;
}

.text_cert_baixa > p {
    font-size: 1rem;
    padding: 2%;
    text-align: justify;
}

.text_cert_baixa > p > ul > li > a {
    text-decoration: none;
    color: var(--azul_forte);
}

.link_baixa:hover {
    color: var(--preto);
}

.text_cert_baixa > a:hover {
    color: var(--preto);
}

.text_cert_baixa > p > ul > li > a:hover {
    text-decoration: underline;
    color: var(--preto);
}