@import './Root.css';

.city_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4rem;
    background: var(--gelo);
}

.main_city {
    border: 1px solid;
    border-color: var(--branco);
    border-radius: 10px;
    width: 50%;
    background: var(--branco);
}

.text_city {
    width: 100%;
    color: var(--azul_forte);
}

.text_city > a {
    text-decoration: none;
    padding: 2%;
    font-size: .8rem;
    color: var(--azul_forte);
}

.text_city > h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 2%;
    text-transform: uppercase;

}

.text_city > p {
    font-size: 1rem;
    padding: 2%;
    text-align: justify;
}

.locate_city {
    text-align: center;
    width: 100%;
    margin-bottom: 4rem;
}

.locate_city > iframe {
    width: 750px;
    height: 250px;
}

.text_city > a:hover {
    color: var(--preto);
}
