@import './Root.css';

.contra_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.main_contra {
    border: 1px solid;
    border-color: var(--gelo);
    border-radius: 10px;
    width: 50%;
    background: var(--gelo);
}

.link_contra {
    text-decoration: none;
    margin: 5px;
    font-size: .8rem;
    color: var(--azul_forte);
}

.text_contra {
    width: 100%;
    color: var(--azul_forte);
}

.text_contra > h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 2%;
    text-transform: uppercase;
}

.text_contra > h5{
    font-weight: 600;
    padding: 2%;
}

.text_contra > p {
    font-size: 1rem;
    padding: 2%;
    text-align: justify;
}

.text_contra > p > a {
    color: var(--azul_forte);
}

.ident_img_contra {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
}

.link_contra:hover {
    color: var(--preto);
}

.text_contra > a:hover {
    color: var(--preto);
}

.text_contra > p > a:hover {
    color: var(--preto);
}

.text_contra > ul > li > a:hover {
    color: var(--preto)
}