@import './Root.css';

.footer_main {
    background-color: var(--azul_forte);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer_main a {
    text-decoration: none;
    color: var(--branco);
}

.footer_info {
    margin: 2px 20px;
    padding: 15px;
}

.footer_info h4 {
    color: var(--azul_medio);
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 30px;
}

.footer_table {
    list-style: none;
    font-size: 1em;
    margin-bottom: 87px;
}

.footer_about {
    margin: 2px 300px;
    padding: 15px;
}

.footer_about h4 {
    color: var(--azul_medio);
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 30px;
}

.footer_about p {
    color: var(--branco);
    font-size: 1em;
    margin-top: 93px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.footer_about_table {
    list-style: none;
    font-size: 1em;
    margin-bottom: 10px;
}

.footer_services {
    margin: 2px 20px;
    padding: 15px;
}

.footer_services h4 {
    color: var(--azul_medio);
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 30px;
}

.footer_services h5 {
    color: var(--azul_medio);
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 67px;
}

.footer_services p {
    font-size: 1em;
    margin-bottom: 10px;
    margin-left: 10px;
}

.footer_services_table {
    list-style: none;
    font-size: 1em;
    margin-bottom: 10px;
}
