@import './Root.css';

.licitacao_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.main_licitacao {
    border: 1px solid;
    border-color: var(--gelo);
    border-radius: 10px;
    width: 50%;
    background: var(--gelo);
}

.text_licitacao {
    width: 100%;
    color: var(--azul_forte);
}

.text_licitacao > a {
    text-decoration: none;
    padding: 2%;
    font-size: .8rem;
    color: var(--azul_forte);
}

.text_licitacao > h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 2%;
    text-transform: uppercase;
}

.text_licitacao > h5 {
    font-weight: 600;
    padding: 2%;
}

.text_licitacao > p {
    font-size: 1rem;
    padding: 2%;
    text-align: justify;
}

.links_licitacao > p {
    padding: 2%;
    text-decoration: underline;
}

.text_licitacao a:hover {
    color: var(--preto);
}

.links_licitacao p > a {
    text-decoration: none;
    color: var(--azul_forte);
}

.links_licitacao p > a:hover {
    color: var(--preto);
}
