@import './Root.css';

.nav {
    background-color: var(--gelo);
    padding: 0;
    gap: 15px;  
    display: flex;
    width: 100%;
    align-items: center;
    color: var(--azul_forte);
}

.logo_navbar {
    width: 100%;
    max-width: 155px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dropdown-toggle {
    font-size: 20px;
    font-weight: 500;
    color: var(--azul_forte);
}

.dropdown-menu {
    background-color: var(--gelo);
}

.nav .show > .nav-link {
    color: var(--azul_forte);
}

.dropdown-menu .nav-link {
    color: var(--azul_forte);
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-size: 20px;
    margin-left: 2rem;
    color: var(--azul_forte);
}

.dropdown-item a{
    color: var(--azul_forte);
    text-decoration: none;
}

.dropdown-toggle::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: 0;
    border: 0;
}

.dropdown-toggle:hover {
    color: var(--azul_forte);
}

.dropdown-toggle:active {
    color: var(--azul_forte);
}

.dropdown-item.active, .dropdown-item a:active {
    color: var(--azul_forte);
    background-color: var(--gelo);
}

.dropdown-item:hover {
    color: var(--gelo);
    background-color: var(--gelo);
}

.dropdown-item a:hover {
    color: var(--preto);
}

.nav-link:hover {
    color: var(--azul_forte);
}

.nav-link:active {
    color: var(--azul_forte);
}

.dropdown-menu .nav-link:hover,
.dropdown-menu .nav-link:focus {
    color: var(--gelo);
    background-color: var(--azul_forte);
}

.nav-item a:hover {
    color: var(--preto);
}