.navbar {
    background-color: #0f4e77;
}


.logo_ident {
    display: flex;
    justify-content: center;
}

.logo_navbar {
    width: 200px;
    margin: 1.5em;
}

.dropdown-toggle {
    color: #fff;
}

.dropdown-toggle:hover {
    color: #FFF;
}

.dropdown-toggle:visited {
    color: #FFF;
}

.link_navbar {
    color: #FFF;
}

