@import './Root.css';

.navbar {
    background-color: var(--fundo_navbar);
    padding: 0;  
    gap: 2em;  
}

.container {
    justify-content: center!important;
}


.logo_ident {
    display: flex;
    justify-content: center;
}

.logo_navbar {
    width: 270px;
    margin: 2em;
}

.dropdown-toggle {
    padding: 0.8em;
    font-size: 20px;
    color: var(--branco)!important;
}

.dropdown-toggle:hover {
    color: var(--branco)!important;
}

.dropdown-toggle::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: 0;
    border: 0;
}

.link_navbar {
    padding: 0.8em;
    margin: 0 2px;
    font-size: 22px;
    color: var(--branco)!important;
}

.link_navbar:hover {
    color: var(--branco)!important;
}
