@import './Root.css';

.norm_pat_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.main_norm_pat {
    border: 1px solid;
    border-color: var(--gelo);
    border-radius: 10px;
    width: 50%;
    background: var(--gelo);
}

.link_norm_pat {
    text-decoration: none;
    margin: 5px;
    color: var(--azul_forte);
}

.text_norm_pat {
    width: 100%;
    color: var(--azul_forte);
}

.text_norm_pat > h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 2%;
    text-transform: uppercase;
}

.text_norm_pat > p {
    font-size: 1rem;
    padding: 2%;
    text-align: justify;
}

.text_norm_pat > p > a {
    color: var(--azul_forte);
}

.text_norm_pat > ul {
    margin-bottom: 2rem;
}

.text_norm_pat > ul > li {
    margin-bottom: 5px;
}

.text_norm_pat > ul > li > a {
    text-decoration: none;
    color: var(--azul_forte);
}

.link_norm_pat:hover {
    color: var(--preto);
}


.text_norm_pat > ul > li > a:hover {
    text-decoration: underline;
    color: var(--preto)
}