@import './Root.css';

.pl_sau_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.main_pl_sau {
    border: 1px solid;
    border-color: var(--gelo);
    border-radius: 10px;
    width: 50%;
    background: var(--gelo);
}

.link_pl_sau {
    text-decoration: none;
    margin: 5px;
    color: var(--azul_forte);
}

.text_pl_sau {
    width: 100%;
    color: var(--azul_forte);
}

.text_pl_sau > h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 2%;
    text-transform: uppercase;
}

.text_pl_sau > h5{
    font-weight: 600;
    padding: 2%;
}

.text_pl_sau > p {
    font-size: 1rem;
    padding: 2%;
    text-align: justify;
}

.text_pl_sau > p > a {
    color: var(--azul_forte);
}

.text_pl_sau > ol > li {
    margin-bottom: 5px;
}

.text_pl_sau > ul > li > a {
    color: var(--azul_forte);
}

.ident_button_pl_sau {
    padding: 2%;
}

.ident_button_pl_sau > button {
    color: var(--azul_forte);
    border-width: 0;
    background: var(--gelo);
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: start;
}

.ident_button_pl_sau a {
    color: var(--azul_forte);
    text-decoration: none;
}

.link_pl_sau:hover {
    color: var(--preto);
}

.text_pl_sau > a:hover {
    color: var(--preto);
}

.text_pl_sau > p > a:hover {
    color: var(--preto);
}

.text_pl_sau > ul > li > a:hover {
    color: var(--preto)
}

.ident_button_pl_sau a:hover {
    color: var(--preto);
    text-decoration: underline;
}