@import './Root.css';

.port_cid_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.main_port_cid {
    border: 1px solid;
    border-color: var(--gelo);
    border-radius: 10px;
    width: 50%;
    background: var(--gelo);
}

.text_port_cid {
    width: 100%;
    padding: 2%;
    color: var(--azul_forte);
    text-align: center;
}

.text_port_cid > p > a {
    text-decoration: underline;
    font-size: 1rem;
    color: var(--azul_forte);
}

.text_port_cid > p > a > svg {
    font-size: 1.2rem;
}

.text_port_cid > h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 2%;
    text-transform: uppercase;
}

.text_port_cid > p > a:hover {
    color: var(--preto);
}