@import './Root.css';

.pt_serv_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.main_pt_serv {
    border: 1px solid;
    border-color: var(--gelo);
    border-radius: 10px;
    width: 50%;
    background: var(--gelo);
}

.link_pt_serv {
    text-decoration: none;
    margin: 5px;
    color: var(--azul_forte);
}

.text_pt_serv {
    width: 100%;
    color: var(--azul_forte);
}

.text_pt_serv > h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 2%;
    text-transform: uppercase;
}

.text_pt_serv > h5{
    font-weight: 600;
    padding: 2%;
}

.text_pt_serv > p {
    font-size: 1rem;
    padding: 2%;
    text-align: justify;
}

.text_pt_serv > p > a {
    color: var(--azul_forte);
}

.text_pt_serv > ul {
    list-style: none;
}

.text_pt_serv > ul > li {
    margin-bottom: 5px;
}

.text_pt_serv > ul > li > a {
    text-decoration: none;
    color: var(--azul_forte);
}

.boxes_pt_serv {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1%;
    margin-bottom: 2rem;
}

.boxes_pt_serv > a {
    margin: 5px;
}

.boxes_pt_serv > a > img {
    width: 290px;
}

.link_pt_serv:hover {
    color: var(--preto);
}

.text_pt_serv > a:hover {
    color: var(--preto);
}

.text_pt_serv > p > a:hover {
    color: var(--preto);
}

.text_pt_serv > ul > li > a:hover {
    color: var(--preto)
}
