@import './Root.css';

.pref_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background: var(--branco);
}

.pref_main {
    border: 1px solid;
    border-color: var(--gelo);
    border-radius: 10px;
    width: 50%;
    background: var(--gelo);
}

.pref_text {
    color: var(--azul_forte);
}

.pref_text > h4{
    font-size: 2rem;
    padding: 2%;
}

.pref_text > a {
    text-decoration: none;
    padding: 2%;
    color: var(--azul_forte);
    font-size: .8rem;
}

.pref_imgs > ul > li {
    display: flex;
    text-align: justify;
    margin-right: 2rem;
}

.pref_imgs ul > li > img {
    margin-right: 2rem;
    min-width: 130px;
    max-width: 130px;
    min-height: 140px;
    max-height: 140px;
}
.pref_imgs li {
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.pref_imgs p {
    color: var(--azul_forte);
}