@import './Root.css';

.procon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.main_procon {
    border: 1px solid;
    border-color: var(--gelo);
    border-radius: 10px;
    width: 50%;
    background: var(--gelo);
}

.link_procon {
    text-decoration: none;
    margin: 5px;
    color: var(--azul_forte);
}

.text_procon {
    width: 100%;
    color: var(--azul_forte);
}

.text_procon > a {
    text-decoration: none;
    padding: 2%;
    font-size: .8rem;
    color: var(--azul_forte);
}

.text_procon > h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 2%;
    text-transform: uppercase;
}

.text_procon > h5 {
    font-weight: 600;
    padding: 2%;
    color: var(--vermelho_destaque);
}

.text_procon > h5 > a {
    text-decoration: none;
    color: var(--vermelho_destaque);
}

.text_procon > p {
    font-size: 1rem;
    padding: 2%;
    text-align: justify;
}

.atend_procon > h4 {
    font-size: 2rem;
    font-weight: 600;
    padding: 2%;
    text-transform: uppercase;
}

.atend_procon > p {
    font-size: 1rem;
    padding: 2%;
    text-align: justify;
}

.link_procon:hover {
    color: var(--preto);
}

.text_procon > a:hover {
    color: var(--preto);
}

.text_procon > h5 > a:hover {
    text-decoration: underline;
}
