@import './Root.css';

.publi_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.main_publi {
    border: 1px solid;
    border-color: var(--gelo);
    border-radius: 10px;
    width: 50%;
    background: var(--gelo);
}

.link_publi {
    text-decoration: none;
    margin: 5px;
    font-size: .8rem;
    color: var(--azul_forte);
}

.text_publi {
    width: 100%;
    color: var(--azul_forte);
}

.text_publi > a {
    text-decoration: none;
    font-size: .8rem;
    color: var(--azul_forte);
}

.text_publi > h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 2%;
    text-transform: uppercase;
}

.text_publi > p {
    font-size: 1rem;
    padding: 2%;
    text-align: justify;
}

.link_publi:hover {
    color: var(--preto);
}
