:root {
    --branco: #FFF;
    --preto: #222;
    --azul_forte: #0f4e77;
    --gelo: #F2F3F4;
    --azul_medio: rgb(13, 110, 253);
    --degrade: linear-gradient(90deg, rgba(15,78,119,1) 0%, rgba(0,0,0,1) 100%);
}
