:root {
    /* colors */
    --branco: #FFF;
    --preto: #222;
    --azul_forte: rgba(15,78,119,1);
    --azul_social: #0b3753;
    --gelo: rgba(229, 231, 233, 1);
    --azul_medio: rgb(13, 110, 253);
    --vermelho_destaque: #CF0000;
    --degrade: linear-gradient(90deg, rgba(15,78,119,1) 0%, rgba(0,0,0,1) 100%);
    --degrade_gelo: linear-gradient(90deg, rgba(242, 243, 244, 1) 62%, rgba(0,0,0,1) 100%);
}
