@import './Root.css';

.servSj_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.main_servSj {
    border: 1px solid;
    border-color: var(--gelo);
    border-radius: 10px;
    width: 50%;
    background: var(--gelo);
}

.text_servSj {
    width: 100%;
    color: var(--azul_forte);
}

.text_servSj > a {
    text-decoration: none;
    padding: 2%;
    font-size: .8rem;
    color: var(--azul_forte);
}

.text_servSj > h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 2%;
    text-transform: uppercase;
}

.text_servSj > p {
    font-size: 1rem;
    padding: 2%;
    text-align: justify;
}