@import './Root.css';

.simbol_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.main_simbol {
    border: 1px solid;
    border-color: var(--gelo);
    border-radius: 10px;
    width: 50%;
    background: var(--gelo);
}

.link_simbol {
    text-decoration: none;
    margin: 5px;
    font-size: .8rem;
    color: var(--azul_forte);
}

.text_simbol {
    width: 100%;
    color: var(--azul_forte);
}

.text_simbol > a {
    text-decoration: none;
    padding: 2%;
    font-size: .8rem;
    color: var(--azul_forte);
}

.text_simbol > h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 2%;
    text-transform: uppercase;

}

.text_simbol > h6 {
    font-weight: 600;
    padding: 2%;
}

.text_simbol > p {
    font-size: 1rem;
    padding: 2%;
    text-align: justify;
}

.img_simbol > img {
    padding: 2%;
    max-width: 200px;
    max-height: 200px;
}

.links_diversos ul > li > a{
    text-decoration: underline;
    color: var(--azul_forte);
    font-size: 1rem;
}

.audio_simbol {
    padding: 2%;
}

.custom_audio {
    background: var(--azul_forte);
}

.link_simbol:hover {
    color: var(--preto);
}

.text_simbol > a:hover {
    color: var(--preto);
}

.links_diversos > ul > li > a:hover {
    color: var(--preto);
}
