@import './Root.css';

.transp_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.main_transp {
    border: 1px solid;
    border-color: var(--gelo);
    border-radius: 10px;
    width: 50%;
    background: var(--gelo);
}

.link_transp {
    text-decoration: none;
    margin: 5px;
    font-size: .8rem;
    color: var(--azul_forte);
}


.text_transp {
    width: 100%;
    color: var(--azul_forte);
}

.text_transp > ul {
    list-style: none;
    text-align: center;
    padding: 4rem;
}

.text_transp > p > ul > li > a {
    color: var(--azul_forte);
    text-decoration: none;
}

.text_dif > p {
    text-transform: uppercase;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.text_transp p > a {
    text-decoration: underline;
    color: var(--azul_forte);
}

.text_transp > h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 2%;
    text-transform: uppercase;
}

.text_transp > h5 {
    font-weight: 600;
    padding: 2%;
}

.text_transp > p {
    font-size: 1rem;
    padding: 2%;
    text-align: justify;
}

.link_transp:hover {
    color: var(--preto);
}

.text_transp p > a:hover {
    color: var(--preto);
}

.text_transp > p > ul > li > a:hover {
    color: var(--preto);
    text-decoration: underline;
}