@import '../Root.css';

.type_button {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button {
    background-color: var(--azul_forte);
    color: var(--branco);
    text-decoration: none;
    padding: 20px 10px;
    border-radius: 5px
}

.button:hover {
    color: var(--gelo);
}