@import '../Root.css';

.type_button_ouv {
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.button_ouv {
    background-color: var(--azul_forte);
    color: var(--branco);
    text-decoration: none;
    padding: 30px 30px;
    width: 100%;
    font-size: 30px;
    border-radius: 8px;
}

.button_ouv > svg {
    font-size: 40px;
    margin-right: 20px;
}

.button_ouv:hover {
    color: var(--gelo);
}