@import '../Root.css';


.search_bar {
    width: 11%;
}

.search_bar input {
    background-color: var(--branco);
    width: 50%;
    border: none;
    padding: .5rem;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-left: 2rem;
}

.search_bar input::placeholder {
    color: var(--azul_forte);
}

.search_bar button {
    background-color: var(--branco);
    width: 60px;
    padding: .5rem;
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.search_bar button:hover {
    background-color: var(--gelo);
}


@media (max-width: 320px) {
    .search_bar {
        width: 61%;
    }

    .search_bar input{
        width: 61%;
        margin-left: 1rem;
        padding: .2rem;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    .search_bar button {
        width: 40px;
        border: none;
        padding: .2rem;
        margin-right: 1rem;
    }
}

@media (min-width: 321px) and (max-width: 360px) {
    .search_bar {
        width: 61%;
    }

    .search_bar input{
        width: 61%;
        margin-left: 1.3rem;
        padding: .2rem;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    .search_bar button {
        width: 40px;
        border: none;
        padding: .2rem;
        margin-right: 1.3rem;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .search_bar {
        width: 61%;
    }

    .search_bar input{
        width: 61%;
        margin-left: 1.3rem;
        padding: .2rem;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    .search_bar button {
        width: 40px;
        border: none;
        padding: .2rem;
        margin-right: 1.3rem;
    }
}

@media (min-width: 376px) and (max-width: 480px) {
    .search_bar {
        width: 56%;
    }

    .search_bar input{
        width: 56%;
        margin-left: 2rem;
        padding: .3rem;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    .search_bar button {
        width: 40px;
        border: none;
        padding: .3rem;
        margin-right: 2rem;
    }
}