@import '../Root.css';

.social {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}

.social_media_nav a {
    font-size: 28px;
    color: var(--azul_social);
    padding: 3px 2px;
    margin-right: 10px;
}


@media (max-width: 320px) {
    .social {
        justify-content: center;
        width: 100%;
    }

    .social_media_nav a {
        font-size: 1rem;
    }
}

@media (min-width: 321px) and (max-width: 360px) {
    .social {
        justify-content: center;
        width: 100%;
    }

    .social_media_nav a {
        font-size: 1.2rem;
    }
}

@media (min-width: 361px) and (max-width: 375px) {
    .social {
        justify-content: center;
        width: 100%;
    }

    .social_media_nav a {
        font-size: 1.2rem;
    }
}

@media (min-width: 376px) and (max-width: 480px) {
    .social {
        justify-content: center;
        width: 100%;
    }

    .social_media_nav a {
        font-size: 1.4rem;
    }
}

@media (min-width: 481px) and (max-width: 720px) {
    .social {
        justify-content: center;
        width: 100%;
    }

    .social_media_nav a {
        font-size: 2rem;
    }
}

@media (min-width: 721px) and (max-width: 768px) {
    .social {
        justify-content: center;
        width: 100%;
    }

    .social_media_nav a {
        font-size: 2rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .social {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;
    }
    
    .social_media_nav a {
        font-size: 28px;
        padding: 3px 2px;
        margin-right: 10px;
    }
}
