@import '../Root.css';

.retrato {
    width: 100%;
    margin-bottom: 4rem;
}

.retrato__image {
    border: 5px solid var(--azul_forte);
    border-radius: 5px;
}

.title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 2%;
    color: var(--azul_forte);
}